@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,400;1,500;1,600&display=swap');

  html{
    padding: 0%;
  font-family:'Raleway',sans-serif;}

:root{
  --bg:rgb(255, 111, 111);
}
[bg-col="orange"]{
  --bg:rgb(65, 198, 116);
}
[bg-col="dark"]{
  --bg:rgb(14, 15, 15);
}
.dv{
  background-color: var(--bg);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

